body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

.contentPrincipal {
    margin: auto;
    width: 100%;
    /* padding: 10px; */
}

.contentOut {
    top: 50%;
    left: -10%;
    position: relative;
}

.contentIn {
    position: absolute;
    top: 50%;
    left: 50%;
}

.formulario input {
    border-radius: 30px;
    height: 35px;
}

.btnAction {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    border-radius: 30px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #15883e;
    height: 48px;
}

.btnAction:hover {
    background-color: #1db954;
}